v2/http/src/main/resources/Z_ZZO_GET_SOLD_TO_PARTY_V2_OutService_prod.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Z_ZZO_GET_SOLD_TO_PARTY_V2_Out" targetNamespace="urn:whirlpool.com:kitchenaid:ICB" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" xmlns:p1="urn:whirlpool.com:kitchenaid:ICB" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation/>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="OP_SI_GetSoldToParty_Out"/>
	<wsdl:types>
		<xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:rfc:functions">
			<xsd:element name="Z_ZZO_GET_SOLD_TO_PARTY_V2">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="DISTR_CH" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Distribution Channel</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DIVISION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Division</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="SALES_ORG">
							<xsd:annotation>
								<xsd:documentation>Sales Organization</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="SEARCH_FOR_CITY" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>City</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="35"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="SEARCH_FOR_CUST" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Customer Number</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="SEARCH_FOR_NAME1" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Name 1</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="35"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ET_SHIPTOS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Customers: Sold-To-Partys</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="ZZOSOLDTOS" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ET_SOLDTOS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Customers: Sold-To-Partys</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="ZZOSOLDTOS" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="IT_BUYING_GRP" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Buying Groups</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="ZZOBUYGRP" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="IT_SALES_REPS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Sales Reps</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="ZZOSALESRE" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Z_ZZO_GET_SOLD_TO_PARTY_V2.Response">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="EV_COUNTRY" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Country Key</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RETURN" type="BAPIRETURN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Return Parameter</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ET_SHIPTOS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Customers: Sold-To-Partys</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="ZZOSOLDTOS" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ET_SOLDTOS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Customers: Sold-To-Partys</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="ZZOSOLDTOS" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="IT_BUYING_GRP" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Buying Groups</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="ZZOBUYGRP" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="IT_SALES_REPS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Sales Reps</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="ZZOSALESRE" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ZZOSOLDTOS">
				<xsd:annotation>
					<xsd:documentation>Customers: Sold-To-Partys</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="KUNNR" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Customer Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NAME1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name 1</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NAME2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name 2</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ORT01" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>City</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PSTLZ" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Postal Code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STRAS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>House number and street</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="WAERS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Currency</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VWERK" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Delivering Plant</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZZOSALESRE">
				<xsd:annotation>
					<xsd:documentation>Sales Reps</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="BZIRK" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Sales district</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPIRETURN">
				<xsd:annotation>
					<xsd:documentation>Return Parameter</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="TYPE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Text</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="220"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOG_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Application log: log number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOG_MSG_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Application log: Internal message serial number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
								<xsd:pattern value="\d+"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V4" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZZOBUYGRP">
				<xsd:annotation>
					<xsd:documentation>Buying Groups</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="KUNNR" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Customer</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="rfc.Z_ZZO_GET_SOLD_TO_PARTY_V2.Input">
		<wsdl:documentation/>
		<wsdl:part name="parameters" element="rfc:Z_ZZO_GET_SOLD_TO_PARTY_V2"/>
	</wsdl:message>
	<wsdl:message name="rfc.Z_ZZO_GET_SOLD_TO_PARTY_V2.Output">
		<wsdl:documentation/>
		<wsdl:part name="parameters" element="rfc:Z_ZZO_GET_SOLD_TO_PARTY_V2.Response"/>
	</wsdl:message>
	<wsdl:portType name="Z_ZZO_GET_SOLD_TO_PARTY_V2_Out">
		<wsdl:documentation/>
		<wsdl:operation name="SI_GetSoldToParty_Out">
			<wsdl:documentation/>
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_GetSoldToParty_Out"/>
			</wsp:Policy>
			<wsdl:input message="p1:rfc.Z_ZZO_GET_SOLD_TO_PARTY_V2.Input"/>
			<wsdl:output message="p1:rfc.Z_ZZO_GET_SOLD_TO_PARTY_V2.Output"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Z_ZZO_GET_SOLD_TO_PARTY_V2_OutBinding" type="p1:Z_ZZO_GET_SOLD_TO_PARTY_V2_Out">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="SI_GetSoldToParty_Out">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Z_ZZO_GET_SOLD_TO_PARTY_V2_OutService">
		<wsdl:port name="HTTPS_Port" binding="p1:Z_ZZO_GET_SOLD_TO_PARTY_V2_OutBinding">
			<soap:address location="https://webservices.cert.whirlpool.com/gpp/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_WRT&amp;receiverParty=&amp;receiverService=&amp;interface=Z_ZZO_GET_SOLD_TO_PARTY_V2_Out&amp;interfaceNamespace=urn%3Awhirlpool.com%3Akitchenaid%3AICB" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>